<table width=100% height=70%>
  <tr>
    <td style="text-align: center; vertical-align: middle;">
      <img src="p1.png" width=250 height=600/>
    </td>
    <td style="text-align: center; vertical-align: middle;">
      <img src="p2.png" width=250 height=600/>
    </td>
    <td style="text-align: center; vertical-align: middle;">
      <img src="p3.png" width=300 height=600/>
    </td>
  </tr>
  <tr>
      <h2>Website Coming Soon</h2>
  </tr>
</table>