<table width=100% height=70%>
  <tr>
    <td style="text-align: center; vertical-align: middle;">
      <img src="IMG_0001.png" width="400" height="400"/>
    </td>
    <td style="text-align: center; vertical-align: middle;">
      <img src="IMG_0002.png" width="600" height="400"/>
    </td>
  </tr>
</table>  