<table width=100% height=70%>
  <tr>
    <td style="text-align: center; vertical-align: middle;">
       <iframe width="560" height="315" src="http://www.youtube.com/embed/c2c7WWx-L5A" frameborder="0" allowfullscreen></iframe>
    </td>
  </tr>
  <tr>
    <td style="text-align: center; vertical-align: middle;">
      <iframe width="560" height="315" src="http://www.youtube.com/embed/8oWa-6jx2To" frameborder="0" allowfullscreen></iframe>
    </td>
  </tr>
  <tr>
    <td style="text-align: center; vertical-align: middle;">
      <iframe width="560" height="315" src="http://www.youtube.com/embed/8pYvyNs707g" frameborder="0" allowfullscreen></iframe>
    </td>
  </tr>
  <tr>
    <td style="text-align: center; vertical-align: middle;">
      <iframe width="560" height="315" src="http://www.youtube.com/embed/aEXl9FRyG6w" frameborder="0" allowfullscreen></iframe>
    </td>
  </tr>
  <tr>
    <td style="text-align: center; vertical-align: middle;">
      <iframe width="560" height="315" src="http://www.youtube.com/embed/qz6HPKpBtQc" frameborder="0" allowfullscreen></iframe>
    </td>
  </tr>
</table>  